Repository FlavioLucasFer/rocket-game, pull requests merged in 2022-07, with the labels that each got.

#11 feat: objects collision check
  engine.cpp
  engine.h
  rocket_game.cpp
  rocket_game.h
Labels: enhancement, engine

#12 Engine/object texture
  engine.cpp
  engine.h
  rocket_game.cpp
  rocket_game.h
  textures/orbiter.bmp
  textures/orbiter.png
Labels: enhancement, engine

#26 refactor: sound and music classes
  engine/audio.cpp
  engine/audio.h
  engine/engine.cpp
  engine/engine.h
  rocket_game.cpp
Labels: engine, refactor

#28 refactor: physics
  engine/engine.cpp
  engine/engine.h
  engine/object.cpp
  engine/object.h
  engine/physics.h
  rocket_game.cpp
  rocket_game.h
Labels: engine, refactor

#29 feat: ui_text class
  Makefile
  README.md
  engine/engine.cpp
  engine/engine.h
  engine/object.cpp
  engine/object.h
  engine/physics.cpp
  engine/physics.h
  rocket_game.cpp
  rocket_game.h
  textures/8bit-font.ttf
  textures/font.ttf
Labels: enhancement, engine

#31 refector: set message
  engine/object.cpp
  engine/object.h
Labels: refactor

#32 Engine/wind drag force
  engine/object.cpp
  engine/object.h
  engine/physics.cpp
  engine/physics.h
  rocket_game.cpp
  rocket_game.h
Labels: enhancement, engine

#33 Engine/UI text memory leak
  engine/engine.cpp
  engine/lib.h
  engine/object.cpp
  engine/object.h
  game.cpp
  orbiter.cpp
Labels: engine, refactor, game
